#radio {
  background-image: url(http://game.gtimg.cn/images/game/cp/a20160310mstt/img/light/bg2_01.jpg)
}

#play_button {
  background-image: url(http://game.gtimg.cn/images/game/cp/a20160310mstt/img/light/bg2_02.jpg)
}

#page1_to_page2 {
  background-image: url(http://game.gtimg.cn/images/game/cp/a20160310mstt/img/light/bg2_03.jpg)
}
